name: Upload Files
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: 'true'

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cron curl zip
          curl -O https://bootstrap.pypa.io/get-pip.py
          python3 get-pip.py
          pip3 install awscli --upgrade

       - name: Grab AWS JS S3 explorer
         run: |
          curl -O https://raw.githubusercontent.com/FortressOne/aws-js-s3-explorer/master/index.html
          mv index.html fortress/maps/

      - name: Package into packaged bsps and upload to S3
        run: |
          for package_path in fortress/package/*; do
            ./package_bsps.sh ${package_path}
            rm -rf ${package_path}
          done
          pwd
          /usr/local/bin/aws s3 sync --size-only fortress/maps ${{ secrets.AWS_S3_PACKAGE_BUCKET }} --delete --region ap-southeast-2 --debug
        env:
          AWS_S3_PACKAGE_BUCKET: ${{ secrets.AWS_S3_PACKAGE_BUCKET }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
